@model Library_Management_System_MVC.viewModel.viewLandingPage

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<div class="container">
    <div class="row">
        <div class="col-lg-12" style="display: flex; justify-content: flex-end">
            <button style="margin: 6px">Home</button>
            <button style="margin: 6px">About Us</button>
            <button style="margin: 6px">Login</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9"><img src="\Content\Images\libraryCoverPhoto.jpg" style="height: 378px;" /></div>
        <div class="col-lg-3" style="height: 378px; display: flex; align-items: flex-end; justify-content: center; ">
            <input type="text" placeholder="Movie Name" />
        </div>
        <p></p>
        @{
            foreach (var kvpair in Model.Dict)
            {
                <p></p>
                if (kvpair.Key == "%[a-z]%")
                {
                    <h1>Top books:</h1>
                }
                else
                {
                    <h1>Top books (in category @kvpair.Key):</h1>
                }
                <p></p>
                <div class="row img-rounded bg-info justify-content-center h-100">
                    @{ foreach (var item in kvpair.Value)
                        {
                            <div class="col-lg-2">
                                <p>Book Name: @item.bookTitle</p>
                                <p>Book Rating: @item.rating</p>
                            </div>
                        }
                    }
                </div>
            }
        }
    </div>
</div>
